@charset "UTF-8";
/*! Edit by Layserg */
/* DEFAULT SETTINGS */
:root {
	--titlebar-username: "User";
	--titlebar-cake: "❤";
	--titlebar-cake-color: var(--main-color);
  --font-display: var(--main-font);
  --background-primary: rgba(200,200,200,0.15);
  --background-secondary: rgba(50,50,50,0.6);
  --mention-color: rgba(99, 89, 255, 0.99);
}

/* TITLEBAR */
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
  content: var(--titlebar-username);
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after {
  content: var(--titlebar-cake);
  color: var(--titlebar-cake-color);
  margin-top: 3px
}
/* FONT */
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color:var(--channel-unread);
  text-shadow:0 0 3px;
  font-weight: bold
}
.username-1A8OIy, .name-uJV0GL,
.theme-dark .mentioned-xhSam7 .mention {
  text-shadow: 1px 1px 1px #333, 0 0 1px #111; 
  font-weight: bold 
}
.username-1A8OIy {
  font-size: 0.92rem;
}
.wrapper-3WhCwL {
  color: var(--mention-color) !important; 
  font-weight: bold !important;
}
/* TEXT CONTAINER */
.textContainer-C0szpm {
  background-color: rgba(50, 50, 50, 0.4);
}
/* CHANNEL LIST PANELS */
.container-3baos1:before,
.container-3baos1:after {
  content: "";
}
.sidebar-2K8pFh {
  width: 250px
}
.circleIconButton-1QV--U {
  background-color: var(--background-primary)
}
/* SETTINGS SIDEBAR */
.sidebar-CFHs9e {
  width: 260px
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP {
  margin-right: -5px
}
/* SCROLLBAR */
.thin-1ybCId::-webkit-scrollbar {
  width: 11.5px !important;
}
/* UI COLOR */
.icon-3s6X1M {
  color: var(--main-color);
  filter: drop-shadow(0 0 3px var(--main-color));
}
.iconBadge-1N56q1.participating-1P_Z3z {
  background-color: var(--background-secondary);
}
/* SETTINGS SIDEBAR ICONS */
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="my-account-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/person.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="profile-customization-tab"].item-PXvHYJ:before {
  /*background-image: url(https://clearvision.gitlab.io/icons/edit.svg);*/
  background-image: url(https://laysergsd.github.io/chips/icons/account-settings.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="privacy-&-safety-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/security.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="authorized-apps-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/apps.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="connections-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/link.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="subscriptions-tab"].item-PXvHYJ:before {
  background-image: url(https://laysergsd.github.io/chips/icons/package-variant.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="discord-nitro-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/nitro.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="nitro-server-boost-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/server_boost.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="library-inventory-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/gift.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="billing-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/payment.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="appearance-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/camera.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="accessibility-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/flask.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="voice-&-video-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/mic.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="text-&-images-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/chat.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="notifications-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/notifications.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="keybinds-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/keyboard.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="language-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/language.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="windows-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/windows.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="linux-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/linux.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="streamer-mode-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/videocam.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="advanced-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/bug.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="game-activity-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/games.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="overlay-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/aspect_ratio.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="settings-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/betterdiscord.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="emotes-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/emote.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="customcss-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/code_braces.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="plugins-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/puzzle.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="themes-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/palette.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="changelog-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/history.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="hypesquad-online-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/hypesquad.svg);
}
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="logout-tab"].item-PXvHYJ:before {
  background-image: url(https://clearvision.gitlab.io/icons/exit.svg);
}
/* CRASH SCREEN */
.note-450gs3 > div > p:first-child:before {
  content: "Похоже, тебя дропнула ошибка 9000 уровня.";
}
.note-450gs3 > div > p:first-child:after {
  content: "Возможно, это был один из плагинов?";
}
.note-450gs3 > div > p:last-child:after {
  content: "Нажмите Ctrl + Shift + I или Cmd + Alt + I чтобы проверить консоль на наличие ошибок.";
}
