@charset "UTF-8";
/*! Edit by Layserg */

@import url(https://clearvision.github.io/ClearVision-v6/main.css);

/* DEFAULT SETTINGS */
:root {
	--titlebar-username: "User";
	--titlebar-cake: "❤";
	--titlebar-cake-color: var(--main-color);
  --font-display: var(--main-font);
  --background-primary: rgba(200,200,200,0.15);
  --background-secondary: rgba(50,50,50,0.6);
  --mention-color: rgba(99, 89, 255, 0.99);
  --channels-width: 250px;
  --overlay-background: rgba(0, 0, 0, 0.8);
  --home-icon: url(https://clearvision.github.io/icons/discord.svg) !important;
}

/* TITLEBAR */
.typeWindows-1za-n7 > .wordmark-2iDDfm:before,
.typeWindows-2-g3UY > .wordmark-2u86JB:before {
  content: var(--titlebar-username);
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after,
.typeWindows-2-g3UY > .wordmark-2u86JB:after {
  content: var(--titlebar-cake);
  color: var(--titlebar-cake-color);
  margin-top: 3px
}
/* FONT */
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE,
.wrapper-NhbLHG.modeUnread-3Cxepe .content-1gYQeQ .mainContent-20q_Hp .name-28HaxV {
  color: var(--channel-unread);
  text-shadow:0 0 3px;
  font-weight: bold
}
.username-1A8OIy, .name-uJV0GL, .theme-dark .mentioned-xhSam7 .mention,
.username-h_Y3Us, .name-3Vmqxm, .theme-dark .mentioned-Tre-dv .mention {
  text-shadow: 1px 1px 1px #333, 0 0 1px #111; 
  font-weight: bold 
}
.username-1A8OIy,
.username-h_Y3Us {
  font-size: 0.92rem;
}
.wrapper-3WhCwL,
.wrapper-1ZcZW- {
  background-color: var(--mention-background) !important;
  color: var(--mention-color) !important; 
  font-weight: bold !important;
}
.repliedMessage-3Z6XBG .username-h_Y3Us, 
.threadMessageAccessory-2W9mjC .username-h_Y3Us
{
  color: var(--mention-color) !important;
  text-shadow: 1px 1px 1px #333, 0 0 1px #111; 
}
/* TEXT CONTAINER */
.textContainer-C0szpm,
.textContainer-36wgKK {
  background-color: rgba(50, 50, 50, 0.4);
}
/* SEARCH CONTAINER */
.container-2oNtJn {
  background-color: rgba(0, 0, 0, calc(var(--background-shading) * .6));
}
/* CHANNEL LIST */
.childWrapper-anI2G9 > svg,
.childWrapper-1j_1ub > svg {
  display: block !important;
}
.container-3baos1:before, .container-3baos1:after,
.container-YkUktl:before, .container-YkUktl:after {
  content: "";
}
.sidebar-2K8pFh,
.sidebar-1tnWFu {
  width: var(--channels-width)
}
.circleIconButton-1QV--U,
.circleIconButton-1VxDrg {
  background-color: var(--background-primary)
}
.container-3w7J-x .bannerImage-3KhIJ6,
.container-1NXEtd .bannerImage-ubW8K- {
  width: 100%
}
/* SETTINGS SIDEBAR */
.sidebar-CFHs9e,
.sidebar-nqHbhN {
  width: 260px
}
.sidebarRegion-VFTUkN .sidebarRegionScroller-3MXcoP,
.sidebarRegion-1VBisG .sidebarRegionScroller-FXiQOh {
  margin-right: -5px
}
/* SCROLLBAR */
.thin-1ybCId::-webkit-scrollbar,
.thin-31rlnD::-webkit-scrollbar {
  width: 11.5px !important;
}
/* UI COLOR */
.avatarSpeaking-2c8-9i, .border-Jn5IOt.speaking-B2MXPi,
.avatarSpeaking-33RRJU, .border-2BJQjd.speaking-3RWJBr {
  -webkit-box-shadow: 0 0 0 2px var(--main-color), inset 0 0 3px var(--background-secondary);
  box-shadow: inset 0 0 0 2px var(--main-color), inset 0 0 0 3px var(--background-secondary);
}
.icon-3s6X1M {
  color: var(--main-color);
  filter: drop-shadow(0 0 3px var(--main-color));
}
.circleIconButton-1XqULR,
.circleIconButton-1VxDrg {
  color: var(--main-color); background-color: var(--background-primary);
}
.circleIconButton-1XqULR.selected-2jcQaY,
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background-color: var(--main-color);
}
/* DURATION PROGRESSBAR IN USERPOPUP */
.bar-1GpknY {
  background-color: #333;
}
/* SETTINGS SIDEBAR ICONS */
.sidebar-nqHbhN [aria-controls="my-account-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/person.svg);
}
.sidebar-nqHbhN [aria-controls="profile-customization-tab"].item-3XjbnG:before {
  /*background-image: url(https://clearvision.gitlab.io/icons/edit.svg);*/
  background-image: url(https://laysergsd.github.io/chips/icons/account-settings.svg);
}
.sidebar-nqHbhN [aria-controls="privacy-&-safety-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/security.svg);
}
.sidebar-nqHbhN [aria-controls="authorized-apps-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/apps.svg);
}
.sidebar-nqHbhN [aria-controls="sessions-tab"].item-3XjbnG:before {
  background-image: url(https://laysergsd.github.io/chips/icons/devices.svg);
}
.sidebar-nqHbhN [aria-controls="connections-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/link.svg);
}

.sidebar-nqHbhN [aria-controls="discord-nitro-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/nitro.svg);
}
.sidebar-nqHbhN [aria-controls="nitro-server-boost-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/server_boost.svg);
}
.sidebar-nqHbhN [aria-controls="subscriptions-tab"].item-3XjbnG:before {
  background-image: url(https://laysergsd.github.io/chips/icons/package-variant.svg);
}
.sidebar-nqHbhN [aria-controls="library-inventory-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/gift.svg);
}
.sidebar-nqHbhN [aria-controls="billing-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/payment.svg);
}

.sidebar-nqHbhN [aria-controls="appearance-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/camera.svg);
}
.sidebar-nqHbhN [aria-controls="accessibility-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/flask.svg);
}
.sidebar-nqHbhN [aria-controls="voice-&-video-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/mic.svg);
}
.sidebar-nqHbhN [aria-controls="text-&-images-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/chat.svg);
}
.sidebar-nqHbhN [aria-controls="notifications-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/notifications.svg);
}
.sidebar-nqHbhN [aria-controls="keybinds-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/keyboard.svg);
}
.sidebar-nqHbhN [aria-controls="language-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/language.svg);
}
.sidebar-nqHbhN [aria-controls="windows-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/windows.svg);
}
.sidebar-nqHbhN [aria-controls="linux-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/linux.svg);
}
.sidebar-nqHbhN [aria-controls="streamer-mode-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/videocam.svg);
}
.sidebar-nqHbhN [aria-controls="advanced-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/bug.svg);
}

.sidebar-nqHbhN [aria-controls="game-activity-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/games.svg);
}
.sidebar-nqHbhN [aria-controls="overlay-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/aspect_ratio.svg);
}

.sidebar-nqHbhN [aria-controls="settings-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/betterdiscord.svg)
}
.sidebar-nqHbhN [aria-controls="updates-tab"].item-3XjbnG:before {
  background-image: url(https://laysergsd.github.io/chips/icons/updates.svg);
}
.sidebar-nqHbhN [aria-controls="emotes-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/emote.svg);
}
.sidebar-nqHbhN [aria-controls="customcss-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/code_braces.svg);
}
.sidebar-nqHbhN [aria-controls="plugins-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/puzzle.svg);
}
.sidebar-nqHbhN [aria-controls="themes-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/palette.svg);
}

.sidebar-nqHbhN [aria-controls="changelog-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/history.svg);
}
.sidebar-nqHbhN [aria-controls="hypesquad-online-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/hypesquad.svg);
}
.sidebar-nqHbhN [aria-controls="logout-tab"].item-3XjbnG:before {
  background-image: url(https://clearvision.github.io/icons/exit.svg);
}

.userProfileInner-3F03PX:before {
  background: var(--user-modal-image) var(--user-modal-position)/var(--user-modal-size) var(--user-modal-repeat) var(--user-modal-attachment);
  filter: grayscale(var(--user-modal-grayscale)) sepia(var(--user-modal-sepia)) invert(var(--user-modal-invert)) brightness(var(--user-modal-brightness)) contrast(var(--user-modal-contrast)) saturate(var(--user-modal-saturation)) blur(var(--user-modal-blur));
}
.userPopoutInner-1hXSeY:before {
  background: var(--user-popout-image) var(--user-popout-position)/var(--user-popout-size) var(--user-popout-repeat) var(--user-popout-attachment);
  filter: grayscale(var(--user-popout-grayscale)) sepia(var(--user-popout-sepia)) invert(var(--user-popout-invert)) brightness(var(--user-popout-brightness)) contrast(var(--user-popout-contrast)) saturate(var(--user-popout-saturation)) blur(var(--user-popout-blur));
}
.overlayBackground-1KgwVi {
  background-color: var(--overlay-background);
}

/* CRASH SCREEN */
.note-450gs3 > div > p:first-child:before,
.note-Ph806N > div > p:first-child:before {
  content: "Похоже, тебя дропнула ошибка 9000 уровня.";
}
.note-450gs3 > div > p:first-child:after,
.note-Ph806N > div > p:first-child:after {
  content: "Возможно, это был один из плагинов?";
}
.note-450gs3 > div > p:last-child:after,
.note-Ph806N > div > p:last-child:after {
  content: "Ctrl + Shift + I или Cmd + Alt + I чтобы проверить консоль на наличие ошибок.";
}
.errorPage-2pZ2Kq .contents-3ca1mk:after {
  content: "Респавн с последнего чекпоинта";
}
